.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: auto;
  grid-gap: 1rem;
}

.card {
  margin: 1rem;
}

.mat-toolbar {
  justify-content: space-between;
}

.btn-liked {
  color: red;
}
.btn-not-liked {
  color: grey;
}
