<p>
  <mat-toolbar color="primary">
    <span>Capsifi</span>
    <span class="example-spacer"></span>
    <button
      mat-icon-button
      class="example-icon favorite-icon"
      aria-label="Example icon-button with heart icon"
    >
      <mat-icon>favorite</mat-icon>
    </button>
  </mat-toolbar>
</p>

<div class="cards">
  <mat-card class="card">
    <img
      mat-card-image
      src="https://material.angular.io/assets/img/examples/shiba2.jpg"
    />
    <mat-card-content>
      <p>Name A</p>
      <p>Released A</p>
    </mat-card-content>
    <mat-card-actions>
      <button
        mat-icon-button
        class="example-icon favorite-icon"
        aria-label="Example icon-button with heart icon"
      >
        <mat-icon>favorite</mat-icon>
        Like
      </button>
    </mat-card-actions>
  </mat-card>
</div>
